.mat-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.chat-container {
    overflow: auto;
    position: fixed;
    top: 25px;
    left: 25px;
    right: 25px;
    bottom: 120px;
  }

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* This makes the flex items align vertically */
  height: 100%;
}

.by-text {
    color: grey;
    align-self: center; /* This centers the text horizontally */
}

.disclaimer-section {
  color: grey;
  font-size: 14px;
}

.title {
  text-align: center;
  color: #333;
  padding: 20px;
}